option_settings:
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-south-1:782388527470:certificate/7e901759-fc01-4f2c-ba9d-3c70c3fd7436
  aws:elbv2:listener:80:
    Protocol: HTTP
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: '3001'
    Protocol: HTTP